<h1><%=h _('Editing station') %></h1>

<p style="color: green"><%= flash[:notice] %></p>

<%= error_messages_for :station %>

<% form_for(:station, :url => station_path(@station), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => { :form => f } %>
  <p>
    <%= submit_tag _('Update') %>
  </p>
<% end %>

<%= link_to _('Back'), stations_path %>