<h1><%=h _('New station') %></h1>

<p style="color: green"><%= flash[:notice] %></p>

<%= error_messages_for :station %>

<% form_for(:station, :url => stations_path) do |f| %>
  <%= render :partial => 'form', :locals => { :form => f } %>
  <p>
    <%= submit_tag _('Create') %>
  </p>
<% end %>

<%= link_to _('Back'), stations_path %>